<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Found items: {{list.foundItems.length}}</h3>
  </div>
  <div class="panel-body">
    <ol class="row item-list list-unstyled">
      <li ng-repeat="item in list.foundItems" class="col-xs-12">
        <div class="item-wrapper row bg-warning">
          <div class="col-xs-12">
            <h4>[{{ item.short_name }}] {{ item.name }}
              <button class="btn btn-danger btn-xs pull-right" ng-click="list.onRemove({index: $index});">Don't want this one!</button>
            </h4>

            <p>{{ item.description }}</p>
          </div>
        </div>
      </li>
    </ol>

    <div class="alert alert-{{list.msgClass}}" role="alert" ng-if="list.showMessage();">{{list.msgText}}</div>

  </div>
</div>
